#form-signup {
  display: flex;
  margin: 2rem 0;
  justify-content: center;
  align-items: center;
}

#form-signup .inner_signup {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 20rem;
  border-radius: 1rem;
  box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2), 0px 3px 4px 0px rgba(0,0,0,0.14), 0px 1px 8px 0px rgba(0,0,0,0.12);
}

#form-signup h1 {
  margin: 0;
}
